
block content
    h3 Demo Form
    form(action='/articles/post', method='post')
        input(type='text', name='title', placeholder='username')
        br
        br
        input(type='text', name='description', placeholder='phone')
        br
        br
        input(type='submit', value='Submit')